@import "tailwindcss";
@source '../app';
@source '../components';

@variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

@theme {
	--color-*: initial;

	--color-white: #fff;
	--color-black: #000;
	--color-neutral-50: #f5f7fa;
	--color-neutral-100: #f3f5f8;
	--color-neutral-200: #e0e4ea;
	--color-neutral-300: #cacfd8;
	--color-neutral-400: #99a0ae;
	--color-neutral-500: #717784;
	--color-neutral-600: #525866;
	--color-neutral-700: #2b303b;
	--color-neutral-800: #232530;
	--color-neutral-900: #191b25;
	--color-neutral-950: #0e121b;

	--color-blue-50: #ebf1ff;
	--color-blue-500: #335cff;
	--color-blue-700: #2547d0;

	--color-green-50: #e0faec;
	--color-green-500: #21c16b;

	--color-red-50: #ffebec;
	--color-red-500: #fb3748;

	--spacing-*: initial;

	--spacing-0: 0px;
	--spacing-025: 2px;
	--spacing-050: 4px;
	--spacing-075: 6px;
	--spacing-100: 8px;
	--spacing-150: 12px;
	--spacing-200: 16px;
	--spacing-250: 20px;
	--spacing-300: 24px;
	--spacing-400: 32px;
	--spacing-500: 40px;
	--spacing-600: 48px;
	--spacing-800: 64px;
	--spacing-1000: 80px;
	--spacing-24: 24px;
	--spacing-16: 16px;

	--radius-*: initial;

	--radius-0: 0px;
	--radius-4: 4px;
	--radius-6: 6px;
	--radius-8: 8px;
	--radius-10: 10px;
	--radius-12: 12px;
	--radius-16: 16px;
	--radius-20: 20px;
	--radius-24: 24px;
	--radius-full: 999px;

	--shadow-*: initial;

	--shadow-small: 0px 4px 6px 0px rgba(240, 240, 240, 0.6);
	--shadow-large: 0px 8px 12px 0px rgba(240, 240, 240, 0.6);

	/* Shadcn Config */
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));

	--color-chart-1: hsl(var(--chart-1));
	--color-chart-2: hsl(var(--chart-2));
	--color-chart-3: hsl(var(--chart-3));
	--color-chart-4: hsl(var(--chart-4));
	--color-chart-5: hsl(var(--chart-5));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	/* Shadcn UI config */
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--border-shadow: 255, 255, 255, 0.145;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@utility sans-text-preset-1 {
	font-family: "Inter Variable", sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: 120%; /* 28.8px */
	letter-spacing: -0.5px;
}

@utility sans-text-preset-2 {
	font-family: "Inter Variable", sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 120%; /* 24px */
	letter-spacing: -0.3px;
}

@utility sans-text-preset-3 {
	font-family: "Inter Variable", sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.3px;
}

@utility sans-text-preset-4 {
	font-family: "Inter Variable", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 120%; /* 16.8px */
	letter-spacing: -0.2px;
}

@utility sans-text-preset-5 {
	font-family: "Inter Variable", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 130%; /* 18.2px */
	letter-spacing: -0.2px;
}

@utility sans-text-preset-6 {
	font-family: "Inter Variable", sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 120%; /* 14.4px */
	letter-spacing: -0.2px;
}

@utility serif-text-preset-1 {
	font-family: "Noto Serif";
	font-size: 24px;
	font-style: normal;
	line-height: 120%; /* 28.8px */
	letter-spacing: -0.5px;
}

@utility serif-text-preset-2 {
	font-family: "Noto Serif";
	font-size: 20px;
	font-style: normal;
	line-height: 120%; /* 24px */
	letter-spacing: -0.3px;
}

@utility serif-text-preset-3 {
	font-family: "Noto Serif";
	font-size: 16px;
	font-style: normal;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.3px;
}

@utility serif-text-preset-4 {
	font-family: "Noto Serif";
	font-size: 14px;
	font-style: normal;
	line-height: 120%; /* 16.8px */
	letter-spacing: -0.2px;
}

@utility serif-text-preset-5 {
	font-family: "Noto Serif";
	font-size: 14px;
	font-style: normal;
	line-height: 130%; /* 18.2px */
	letter-spacing: -0.2px;
}

@utility serif-text-preset-6 {
	font-family: "Noto Serif";
	font-size: 12px;
	font-style: normal;
	line-height: 120%; /* 14.4px */
	letter-spacing: -0.2px;
}

@utility mono-text-preset-1 {
	font-family: "Source Code Pro";
	font-size: 24px;
	font-style: normal;
	line-height: 120%; /* 28.8px */
	letter-spacing: -0.5px;
}

@utility mono-text-preset-2 {
	font-family: "Source Code Pro";
	font-size: 20px;
	font-style: normal;
	line-height: 120%; /* 24px */
	letter-spacing: -0.3px;
}

@utility mono-text-preset-3 {
	font-family: "Source Code Pro";
	font-size: 16px;
	font-style: normal;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.3px;
}

@utility mono-text-preset-4 {
	font-family: "Source Code Pro";
	font-size: 14px;
	font-style: normal;
	line-height: 120%; /* 16.8px */
	letter-spacing: -0.2px;
}

@utility mono-text-preset-5 {
	font-family: "Source Code Pro";
	font-size: 14px;
	font-style: normal;
	line-height: 130%; /* 18.2px */
	letter-spacing: -0.2px;
}

@utility mono-text-preset-6 {
	font-family: "Source Code Pro";
	font-size: 12px;
	font-style: normal;
	line-height: 120%; /* 14.4px */
	letter-spacing: -0.2px;
}

@utility text-preset-other-1 {
	color: var(--colors-neutral-950, #0e121b);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 16px */
	letter-spacing: 0.5px;
}
